.fl{
    float: left;
}
.fr{
    float: right;
}
.chart-wrapper{
    overflow: hidden;
    box-shadow: -1px 4px 3px 1px #abaaaa;
    position: relative;
    z-index: 9;
    background: #ffffff;
}

.chart-wrapper span{
    display: block;
    margin: auto;
    text-align: center;
    border-top: 2px solid #005DBE;
    line-height: 40px;
    /* border-bottom: 1px solid; */
    background: #E9F0F5;
}