.fl{
    float: left;
}
.fr{
    float: right;
}
.chart-wrapper{
    overflow: hidden;
    box-shadow: -1px 4px 3px 1px #abaaaa;
    position: relative;
    z-index: 9;
    background: #ffffff;
    width: 4rem;
}

.chart-wrapper span{
    display: block;
    margin: auto;
    text-align: center;
    border-top: 2px solid #005DBE;
    line-height: 40px;
    /* border-bottom: 1px solid; */
    background: #E9F0F5;
    font-size: 16px;
}
.centerItem {
    width: 856px;
    height: 640px;
    /*background-color: #003077;*/
    margin: 110px auto 0 auto;
}
.boxStyle{
    width: 100% !important;
    height:260px;
    border:1px solid #ccc;
    float:left;
}
.boxStyle>div{
    width:100% !important;
    height:100% !important;
}
remDiv{
    position: relative;
}
.china{
    position: absolute;
    left: 0;
    right: 0;
}
